/**
 * This style sheet should contain css that is meant to
 * be across the whole app.
 */

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  color-scheme: dark;
  text-rendering: optimizelegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

// Make theme switching smooth.
body,
div,
span,
a,
p,
button,
input,
svg {
  transition-property: background-color, border, border-color;
  transition-duration: 100ms;
  transition-timing-function: linear;
}

body {
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  color: $color-text;
  background-color: $color-background;
}

#root {
  width: 100%;
  max-width: $size-max-root;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

a {
  font-weight: 500;
  color: $color-text;
  text-decoration: inherit;
  &:hover {
    color: $color-primary;
  }
}

h1 {
  font-weight: bold;
  line-height: 1.1;
}

code {
  all: revert;
}

.center {
  display: grid;
  place-items: center;
}
