// Theme Colors
$color-text: var(--color-text);
$color-text-secondary: var(--color-text-secondary);
$color-background-lightest: var(--color-background-lightest);
$color-background-lighter: var(--color-background-lighter);
$color-background: var(--color-background);
$color-background-darker: var(--color-background-darker);
$color-background-darkest: var(--color-background-darkest);
$color-primary-lighter: var(--color-primary-lighter);
$color-primary: var(--color-primary);
$color-primary-darker: var(--color-primary-darker);

// Sizes
$size-m: 2.5em;
$size-min-root: 320px;
$size-max-root: 720px;
